body, html {
    height:100%;
    background: linear-gradient(to bottom, #41295a, #2f0743);

  }
  .container{
    padding: 5%;
  }
  h4,h5{
    color: white;
    font-family: "pinar-bold";
}
  .first h3{
    color: #FFF;
    margin-top: 30px;

text-align: center;
    font-family: "pinar-bold";
  }
  .heading-wrap{
    padding: 2%;
    }
    .heading-wrap h5{
        font-family: "pinar-bold";
        color: white;
        line-height: 1.7;
    }
    .heading-wrap .col-4{
        display: flex;
        align-items: center;
    }
    .heading-wrap img{
        display: block !important;
        margin: 0 auto !important;
    width: 45px;
    height: 45px;
        border-radius: 30px;
        box-shadow:  7px 7px 11px #b039dd,
        -7px -7px 11px #d745ff;
    }
    .heading-wrap .col-6{
    position: relative;
    
    }
    .heading-wrap .col-6 a{
        background-color: white;
        width: 55px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 8px;
    }
    .heading-wrap .col-6 a i{
        font-size: 30px;
        text-align: center;
        display: block;
        margin: 0 auto;
        color:#c33ff6 ;
    }
  .check-form-wrap .form-check{
 width: 50% !important;
  }
  form {
    margin-top: 20px;
  }
form input[type=text]{
padding:15px;
font-family: "pinar-med";
}
  form .btn{
    width: 100%;
    margin-top: 10px;
    border: none;
  }
  form .btn:nth-child(2){
    background-color: #ba0dff;
  }
  form .form-check{
    width: 100% !important;
  }